version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: nunito-postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - nunito-network

  backend:
    build: .
    container_name: nunito-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/mydb
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_SHOW_SQL: "true"
    volumes:
      # Volumen persistente para uploads
      - uploads_data:/app/uploads
    depends_on:
      - postgres
    networks:
      - nunito-network

volumes:
  postgres_data:
  uploads_data:


networks:
  nunito-network:
    driver: bridge
